<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="card">
		<div class="card-header">REGISTRO DE USUARIO</div>
		<div class="card-body">
			<form method="post" th:action="@{/auth/guardarUsuario}">
				<div class="mb-3">
					<label for="nomusuario" class="form-label">Usuario</label> 
					<input
						type="text" class="form-control" 
						id="nomusuario" name="nomusuario">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label> 
					<input
						type="email" class="form-control" 
						id="email" name="email">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label> <input
						type="password" class="form-control" 
						id="password"
						name="password">
				</div>

				<div class="mb-3">
					<label for="nombres" class="form-label">Nombres</label> 
					<input
						type="text" class="form-control" 
						id="nombres" name="nombres">
				</div>				
				<div class="mb-3">
					<label for="apellidos" class="form-label">Apellidos</label> 
					<input
						type="text" class="form-control" 
						id="apellidos" name="apellidos">
				</div>				
				<button type="submit" 
				class="btn btn-primary">REGISTRAR</button>
				<a th:href="@{/auth/login}" 
				class="btn btn-primary">VOLVER A LOGIN</a>
			</form>


		</div>
	</div>
</body>
</html>