<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body>
	<script th:src="@{/js/web/empleado/frmempleado.js}" type="text/javascript"></script>
	<nav th:insert="layout::menu"></nav>
	<button type="button" id="btnagregar" class="btn btn-primary">
		Agregar Empleado</button>
	<hr />
	<table class="table" id="tblempleado">
		<thead>
			<tr>
				<th scope="col">Código</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Fecha Contrato</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="empleado :${listaempleados}">
				<td th:text="${empleado.idempleado}"></td>
				<td th:text="${empleado.nombre}"></td>
				<td th:text="${empleado.apellido}"></td>
				<td th:text="${#dates.format(empleado.fechacontrat, 'dd-MM-yyyy')}"></td>				
			</tr>
		</tbody>
	</table>
	<!-- Modal Registro Empleado-->
	<div class="modal fade" id="modalEmpleado" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						Registro de Empleado</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="txtnombre" class="form-label">
							Nombres</label> 
						<input type="text" class="form-control"
							id="txtnombre" >
						<span id="errornombre" class="text-danger">
						</span>
					</div>
					<div class="mb-3">
						<label for="txtapellido" class="form-label">
							Apellidos</label> 
						<input type="text" class="form-control"
							id="txtapellido" >
						<span id="errorapellido" class="text-danger">
						</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-primary"
						id="btnguardar">Guardar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>